<h1>Contact form {{name}}</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
  <div class="mb-4">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" required formControlName="name">
    <div *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['required']"
      class="alert alert-danger">This field is required.</div>
    <div *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['minlength']"
      class="alert alert-danger">Name must be longer than
      {{ contactForm.get('name')?.errors?.['minlength']?.requiredLength}} characters.</div>
  </div>
  <div class="mb-4 form-check">
    <label for="checkAdult" class="form-label">Are you over 18 years of age?</label>
    <input type="checkbox" class="form-check-input" id="checkAdult" name="checkAdult" formControlName="checkAdult"
      required>
    <div *ngIf="contactForm.get('checkAdult')?.touched && contactForm.get('checkAdult')?.errors?.['required']"
      class="alert alert-danger">This field is required.</div>
  </div>
  <div class="mb-4">
    <label for="department" class="form-label">Department</label>
    <select name="department" id="department" class="form-select form-select-sm" formControlName="department">
      <option selected>Open this select menu</option>
      <option value="marketing">Marketing</option>
      <option value="sales">Sales</option>
      <option value="other">Other</option>
    </select>
  </div>
  <div class="mb-4">
    <label for="comment" class="form-label">Comment</label>
    <textarea class="form-control" name="comment" id="comment" rows="4" placeholder="Leave a comment......"
      formControlName="comment" required></textarea>
    <div *ngIf="contactForm.get('comment')?.touched && contactForm.get('comment')?.errors?.['required']"
      class="alert alert-danger">This field is required.</div>
    <div class="d-grid gap-2 col-4 float-end">
      <button type="submit" class="btn btn-info btn-lg" [disabled]="contactForm.invalid">Send</button>
    </div>
  </div>
</form>