<pre>{{contactForm.value | json }}</pre>
<h1>Contact form</h1>
<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <div class="mb-4">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.name" required #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">This field is required.</div>
    </div>
    <div class="mb-4 form-check">
        <label for="checkAdult" class="form-label">Are you over 18 years old?</label>
        <input type="checkbox" class="form-check-input" id="checkAdult" name="checkAdult" [(ngModel)]="model.checkAdult" required #checkAdult="ngModel">
        <div [hidden]="checkAdult.valid || checkAdult.pristine" class="alert alert-danger">This field is required.</div>
    </div>
    <div class="mb-4">
        <label for="department" class="form-label">Department</label>
        <select name="department" id="department" class="form-select form-select-sm" [(ngModel)]="model.department">
            <option selected>Open this select menu</option>
            <option value="marketing">Marketing</option>
            <option value="sales">Sales</option>
            <option value="other">Other</option>
        </select>
        <!-- <div class="alert alert-danger">This field is required.</div> -->
    </div>
    <div class="mb-4">
        <label for="comment" class="form-label">Comment</label>
        <textarea class="form-control" name="comment" id="comment" rows="4" placeholder="Leave a comment..." [(ngModel)]="model.comment" required #comment="ngModel"></textarea>
        <div [hidden]="comment.valid || comment.pristine" class="alert alert-danger">This field is required.</div>
    </div>
    <div class="float-end d-grid gap-2 col-4">
        <button type="submit" class="btn btn-info btn-lg" [disabled]="contactForm.invalid">Send</button>
    </div>
</form>